@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;


}

html{
  scroll-behavior: smooth;
}
p{
  color: rgb(85 , 85 ,85);
}
a, .btn{
  transition: all 300ms ease;
}



/* 
.logo{
  font-size: 2rem;
}
.logo:hover{
  cursor: default;
}

nav ,
.nav-links{
  display: flex;
}
nav{
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}
.nav-links{
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}
a{
  color: black;
  text-decoration-color: white;
}
a:hover{
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration:rgb(181 , 181 ,181) ;
}
 #hamburger-nav{
  display: none;
 }
 .hamburger-menu{
  position: relative;
  display: inline-block;
 }
 .hamburger-icon{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
 }
 .hamburger-icon span{
   width: 100%;
   height: 2px;
   background-color: black;
   transition: all , 0.3 ease-in-out
 }
 .menu-link{
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all , 0.3 ease-in-out 
 }
 .menu-link a{
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
 }
 .menu-links li {
  list-style: none;
 }
 .menu-links.open{
  max-height: 300px;
 }

 .hamburger-icon.open span :first-child{
  transform: rotate(45deg) translate(10px ,5px);
 }
 .hamburger-icon.open span :nth-child(2 ){
  opacity: 0;
 }
 .hamburger-icon.open span :last-child{
  transform: rotate(45deg) translate(10px ,5px);
 }
 .hamburger-icon span:first-child{
  transform: none;
 }
 .hamburger-icon span:first-child{
  opacity: 1;
 }
 .hamburger-icon span:first-child{
  transform: none;
 }  */
 
  /* section */
  section{
    padding-top: 4vh ;
    height: 100vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content ;
  }
  .section-container{
    display: flex;
  }
  #profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 450px;
  }
  .piccontainer{
    display: flex;
    height: 400px;
    width: 400px;
    margin: 0;
  }
  .section_text{
    align-self: center;
    text-align: center;
    margin-top: 0%;
  }
  .section_text p{
   font-weight: 600;
  }
  .sectiontextp1{
    text-align: center;
    
  }
  .sectiontextp2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
 .title{
  font-size: 3rem;
  text-align:center
 }
 #socials-container{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
 }
 .icon{
  cursor: pointer;
  height: 2rem;
 }
 
 /* Buttons */
 .btn{
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
 }
 .btn-color-1,
 .btn-color-2{
  border: rgb(53 ,53 ,53) 0.1rem solid;
 }
 .btn-color-1 :hover,
 .btn-color-2:hover{
  cursor: pointer;
 }
 .btn-color-1,
 .btn-color-2:hover{
  background: rgb(53 ,53 ,53);
  color: white;
 }
 .btn-color-1 :hover{
  background: rgb(53 ,53 ,53);
 }
 .btn-color-2{
  margin-right: 20px;
  margin-bottom: 10px;
  background: none;
 }
 .btn-color-2:hover{
  border: rgb(255 , 255 ,255) 0.1rem solid;
 }

 /* About section */
#about{
  position: relative;
  align-items: center;
 justify-content: center;
}
.aboutdetails{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 4rem;
}
.details{
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53 ,53,53) 0.1rem solid ;
  border-color: rgb(163 ,163,163);
  text-align: center;
}
#arrow{
 
  margin-top: 200px;
}
.aboutcontainer{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.articlecontainer{
  display: flex;
  text-align: initial;
  flex-wrap: wrap ;
  gap: 2.5rem;
  justify-content: space-around;
}
article{
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}
article .icon{
  cursor: default;
}
article img{
  margin-top: 17px;
}
#arrow2{
  margin-top: 200px;
}

/* projects */
#projects{
  position:relative
}
.color-container{
  border-color: rgb(163 ,163,163);
  background: rgb(250 , 250 ,250);
}
.projectimage{
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}
.projecttitle{
  margin: 1rem;
  color: black;
}
.project-btn{
  color: black;
  border-color: rgb(163 ,163,163);
}
.contact{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}
.Contactinfouppercontainer{
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border:rgb(53 ,53 ,53) 0.1rem solid;
  border-color: rgb(163 ,163,163);
  background: rgb(250 , 250 ,250);
  margin: 2rem auto;
  padding: 0.5rem 
}
.contactinfocontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}
.contactinfocontainer p{
  font-size: larger;
}
.contact-icon{
  cursor: default;
  height: 2rem;
}
.email-icon{
  height: 2.5rem;
}
footer{
  height: 26vh;
  margin: 0 1rem;

}
footer p{
  text-align: center;
}
@media screen and (max-width: 1200px){
  #desktop-nav{
   display: none;
  }
  #hamburger-nav{
   display: flex;
  }
  #experience , .details{
    margin-top: 2rem;
  }
  #profile , .section-container{
    display: block;
  }
  #arrow{
        display: none;
  }
  section , .section-container{
    height: fit-content;
  }
  section{
    margin: 0 5%
  }
  .piccontainer{
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .aboutcontainer{
    margin-top: 0;
  }
}  
@media screen and (max-width: 1400px){
  #profile{
    height: 83vh;
    margin-bottom: 6rem;
  }
  .aboutdetails{
    flex-wrap: wrap;
  }

}  
@media screen and (max-width: 1400px){
  #contact , footer{
    height: 40vh;
  }
  #profile{
    height: 83vh;
    margin-bottom: 0;
  }
  article{
    font-size: 1rem;
  }
  .aboutcontainer , .Contactinfouppercontainer , .btn-container{
    flex-wrap: wrap;
  }
  .contactinfocontainer{
    margin: 0;
  }
  .contactinfocontainer p, .nav-links li a {
    font-size: 1rem;
  }
  .logo{
    font-size: 1.5rem;
  }
  .nav-links{
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .piccontainer{
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .title{
    font-size: 2rem;
  }
  .textcontainer{
    text-align: justify;
  }
}  







/* navbarcss */

.nav-logo img {
  /* Adjust the maximum width */
  max-width: 50px;
   height: auto;
   /* Add any necessary styling for the logo */
 }
 
 .navbar {
   background-color: #ffffff;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   position: sticky;
   top: 0;
   z-index: 20;
 }
 
 .nav-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 80px;
   max-width: 1500px;
   position: relative;
 }
 
 .nav-logo {
   color: #1b1b19;
   align-items: center;
   margin-left: 20px;
   cursor: pointer;
   text-decoration: none;
   flex-grow: 1;
 
   display: flex;
   align-items: center;
   justify-items: center;
 }
 
 .nav-logo .icon {
   display: inline-block;
   width: 3rem;
   height: 3rem;
   margin-left: 16px;
 }
 
 .nav-menu {
   display: flex;
   list-style: none;
   text-align: center;
   margin-right: 2rem;
 }
 
 .nav-links {
   color: #000000;
   text-decoration: none;
   padding: 0.5rem 1rem;
   height: 100%;
   border-bottom: 3px solid transparent;
   max-width: 120px; /* Adjust the maximum width according to your design */
   white-space: nowrap; /* Prevent NavLink words from wrapping onto a new line */
   overflow: hidden; /* Hide any overflowed content */
  text-overflow: ellipsis; /* Display ellipsis (...) for truncated text */
  }
 /* .fa-code {
   margin-left: 1rem;
 } */
 
 .nav-item {
   line-height: 40px;
   margin-right: 1rem;
 }
 
 .nav-item:after {
   content: "";
   display: block;
   height: 3px;
   width: 0;
   background: transparent;
   transition: width 0.7s ease, background-color 0.5s ease;
 }
 
 .nav-item:hover:after {
   width: 100%;
   background: #ffdd40;
 }
 
 .nav-item .active {
   color: #ffdd40;
   border: 1px solid #ffdd40;
 }
 
 .nav-icon {
   display: none;
   color: #f5b921;
 }
 
 .nav-icon .icon {
   display: inline-block;
   width: 2rem;
   height: 2rem;
 }
 
 @media screen and (max-width: 960px) {
   .nav-menu {
     display: flex;
     flex-direction: column;
     width: 100%;
     border-top: 1pxsolid #fff;
     position: absolute;
     top: 80px;
     left: -110%;
     opacity: 1;
     transition: all 0.5s ease;
   }
 
   .nav-menu.active {
     background: #ffffff;
     left: 0px;
     opacity: 1;
     transition: all 0.5s ease;
     z-index: 1;
   }
   .nav-item .active {
     color: #ffdd40;
     border: none;
   }
   .nav-links {
     padding: 1.5rem;
     width: 100%;
     display: table;
   }
 
   .nav-logo .icon {
     width: 2rem;
     height: 2rem;
   }
 
   .nav-icon {
     display: block;
     position: absolute;
     top: 50%;
     right: 0;
     transform: translate(-100%, -50%);
     width: 2rem;
     height: 2rem;
     cursor: pointer;
     color: #ffdd40;
   }
 }
 

